<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPConnectionFavorites</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>colorIndex</key>
					<integer>4</integer>
					<key>database</key>
					<string></string>
					<key>host</key>
					<string>127.0.0.1</string>
					<key>id</key>
					<integer>-594421454220327050</integer>
					<key>name</key>
					<string>All Valet</string>
					<key>port</key>
					<string></string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string></string>
					<key>sshKeyLocation</key>
					<string></string>
					<key>sshKeyLocationEnabled</key>
					<integer>0</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string></string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>root</string>
				</dict>
				<dict>
					<key>colorIndex</key>
					<integer>4</integer>
					<key>database</key>
					<string>proof</string>
					<key>host</key>
					<string>127.0.0.1</string>
					<key>id</key>
					<integer>-8452698238877510773</integer>
					<key>name</key>
					<string>ASH - Proof</string>
					<key>port</key>
					<string></string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string></string>
					<key>sshKeyLocation</key>
					<string></string>
					<key>sshKeyLocationEnabled</key>
					<integer>0</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string></string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>root</string>
				</dict>
				<dict>
					<key>colorIndex</key>
					<integer>4</integer>
					<key>database</key>
					<string>canvas</string>
					<key>host</key>
					<string>127.0.0.1</string>
					<key>id</key>
					<integer>-189081125592983938</integer>
					<key>name</key>
					<string>CNVS - Canvas</string>
					<key>port</key>
					<string></string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string></string>
					<key>sshKeyLocation</key>
					<string></string>
					<key>sshKeyLocationEnabled</key>
					<integer>0</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string></string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>root</string>
				</dict>
				<dict>
					<key>colorIndex</key>
					<integer>4</integer>
					<key>database</key>
					<string>clientrx</string>
					<key>host</key>
					<string>127.0.0.1</string>
					<key>id</key>
					<integer>-6026963981922520205</integer>
					<key>name</key>
					<string>CRX - ClientRX</string>
					<key>port</key>
					<string></string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string></string>
					<key>sshKeyLocation</key>
					<string></string>
					<key>sshKeyLocationEnabled</key>
					<integer>0</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string></string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>root</string>
				</dict>
				<dict>
					<key>colorIndex</key>
					<integer>4</integer>
					<key>database</key>
					<string>healthez</string>
					<key>host</key>
					<string>127.0.0.1</string>
					<key>id</key>
					<integer>4530490936169096570</integer>
					<key>name</key>
					<string>HEZ - HealthEZ</string>
					<key>port</key>
					<string></string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string></string>
					<key>sshKeyLocation</key>
					<string></string>
					<key>sshKeyLocationEnabled</key>
					<integer>0</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string></string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>root</string>
				</dict>
				<dict>
					<key>colorIndex</key>
					<integer>4</integer>
					<key>database</key>
					<string>laravel_zoom</string>
					<key>host</key>
					<string>127.0.0.1</string>
					<key>id</key>
					<integer>968079773446691182</integer>
					<key>name</key>
					<string>TJA - Laravel Zoom</string>
					<key>port</key>
					<string></string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string></string>
					<key>sshKeyLocation</key>
					<string></string>
					<key>sshKeyLocationEnabled</key>
					<integer>0</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string></string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>root</string>
				</dict>
				<dict>
					<key>colorIndex</key>
					<integer>4</integer>
					<key>database</key>
					<string>natty_revolution</string>
					<key>host</key>
					<string>127.0.0.1</string>
					<key>id</key>
					<integer>-7171960174276480896</integer>
					<key>name</key>
					<string>REV - Natty Revolution</string>
					<key>port</key>
					<string></string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string></string>
					<key>sshKeyLocation</key>
					<string></string>
					<key>sshKeyLocationEnabled</key>
					<integer>0</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string></string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>root</string>
				</dict>
			</array>
			<key>IsExpanded</key>
			<true/>
			<key>Name</key>
			<string>Valet</string>
		</dict>
		<dict>
			<key>Children</key>
			<array/>
			<key>IsExpanded</key>
			<true/>
			<key>Name</key>
			<string>QA</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>colorIndex</key>
					<integer>0</integer>
					<key>database</key>
					<string>proof</string>
					<key>host</key>
					<string>127.0.0.1</string>
					<key>id</key>
					<integer>-2329519047011477619</integer>
					<key>name</key>
					<string>ASH - Proof</string>
					<key>port</key>
					<string></string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string>162.243.161.212</string>
					<key>sshKeyLocation</key>
					<string></string>
					<key>sshKeyLocationEnabled</key>
					<integer>0</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string>austintoddj</string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>type</key>
					<integer>2</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>toddaustin</string>
				</dict>
				<dict>
					<key>colorIndex</key>
					<integer>0</integer>
					<key>database</key>
					<string>cnvs_demo</string>
					<key>host</key>
					<string>127.0.0.1</string>
					<key>id</key>
					<integer>5990628212904978073</integer>
					<key>name</key>
					<string>CNVS - Demo</string>
					<key>port</key>
					<string></string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string>162.243.161.212</string>
					<key>sshKeyLocation</key>
					<string></string>
					<key>sshKeyLocationEnabled</key>
					<integer>0</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string>austintoddj</string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>type</key>
					<integer>2</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>toddaustin</string>
				</dict>
				<dict>
					<key>colorIndex</key>
					<integer>0</integer>
					<key>database</key>
					<string>weatheredwoodmn</string>
					<key>host</key>
					<string>127.0.0.1</string>
					<key>id</key>
					<integer>7139592194696881298</integer>
					<key>name</key>
					<string>WW - WeatheredWoodMN</string>
					<key>port</key>
					<string></string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string>162.243.126.212</string>
					<key>sshKeyLocation</key>
					<string></string>
					<key>sshKeyLocationEnabled</key>
					<integer>0</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string>weatheredwoodmn</string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>type</key>
					<integer>2</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>weatheredwoodmn</string>
				</dict>
			</array>
			<key>IsExpanded</key>
			<true/>
			<key>Name</key>
			<string>Production</string>
		</dict>
	</array>
</dict>
</plist>
